<http>

    <head>

    </head>

    <body>
        <form method="POST" target="/search">
            <div>
                <label for="nazwisko">Imię:</label>
                <input id="nazwisko" name="nazwisko" />
            </div>
            <div>
                <label for="nazwisko">Nazwisko:</label>
                <input id="nazwisko" name="nazwisko" />
            </div>
            <div>
                <label for="nazwisko">Rok:</label>
                <input id="nazwisko" name="nazwisko" />
            </div>
            <input type="submit">
        </form>
    </body>
</http>