<http>

    <head>

    </head>

    <body>
        <form method="POST" action="/search">
            <div>
                <label for="imie">Imię:</label>
                <input id="imie" name="imie" />
            </div>
            <div>
                <label for="nazwisko">Nazwisko:</label>
                <input id="nazwisko" name="nazwisko" />
            </div>
            <div>
                <label for="rok">Rok:</label>
                <input id="rok" name="rok" />
            </div>
            <input type="submit">
        </form>
    </body>
</http>